.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff9e8;
}

.containerLight {
  background-color: #f0efff;
  color: #3f3878;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff9e8;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* BANNER */
.bannerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../public/backgroundTest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  justify-content: space-between;
}

.topBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 16px 16px 0 16px;
  width: 100%;
  gap: 16px;
}

.bottomBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;
  width: 100%;

  background: linear-gradient(to right, hsla(276, 88%, 55%, 0.25), hwb(252 29% 19% / 0));
  margin-top: 0;
}

.bottomBannerContainerLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;
  width: 100%;
  background-color: #f0efff;
  color: #3F3878;
}


/* LIKE ICON & RATE IT*/
.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #fff9e8;
  height: 40px;
  width: 40px;
  background-color: #9592b8;
  cursor: pointer;
}

.iconButtonPink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #fff9e8;
  height: 40px;
  width: 40px;
  background-color: #cf55ed;
  cursor: pointer;
}

.iconButton:hover {
  background-color: #3f3878;
}

.textButton {
  font-size: 1em;
  margin: 0;
}

.caption {
  font-size: 0.625em;
}

.captionGameName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconRating {
  margin-right: 8px;
}

.likeIcon {
  color: aliceblue;
}

/* BOTTOM CONTAINER */
.bottomContainer {
  background-color: #3f3878;
  height: 100%;
  width: 100vw;
  /* position: absolute; */
  /* bottom: 0; */
  box-shadow: 20px 0 0 rgba(0, 0, 0, 0.75);
  padding: 16px 0 30px 0;
}

.bottomContainerLight {
  background-color: #f0efff;
  color: #3F3878;
  height: 100%;
  width: 100vw;
  /* position: absolute; */
  /* bottom: 0; */
  box-shadow: 20px 0 0 rgba(0, 0, 0, 0.75);
  padding: 16px 0 30px 0;
}

.descriptionContainer {
  background-color: #644ace;
  margin-top: 24px;
  padding: 26px;
}

.descriptionContainerLight {
  background-color: #9592b8;
  margin-top: 24px;
  padding: 26px;
  color: #fff9e8;
}

.ratingsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 24px;
  width: 100%;
}

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 16px 16px 0px;
  /* border: 1px solid #fff9e8; */
  border-radius: 20px;
  padding: 16px;
  background-color: #644ace90;
}

.ratingLight {
  background-color: #f0efff;
  color: #3F3878;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 300;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #cdb00a; */
  padding-bottom: 16px;
  gap: 16px;
  font-weight: 300;
}

.ratingDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: aqua; */
  padding: 16px 0;
  gap: 16px;
  font-weight: 300;
}

.ratingInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.emoji {
  margin-left: 10px !important;
}

.emojiLight {
  filter: invert(80%) sepia(220%) saturate(400%) hue-rotate(957deg) brightness(98%) contrast(96%);

}


.videoContainer {
  background-color: black;
  height: 200px;
  width: 300px;
  border-radius: 40px;
}

.trailerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 24px;
  gap: 16px;
}

.tag01 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #9592b8;
  height: 32px;
  width: auto;
  min-width: 80px;
  font-size: 0.75em;
  text-align: center;
  padding: 8px;
}

.tag02 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #9592b8;
  height: 32px;
  width: auto;
  min-width: 80px;
  font-size: 0.75em;
  text-align: center;
  padding: 8px;
}

.tag03 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #9592b8;
  height: 32px;
  width: auto;
  min-width: 80px;
  font-size: 0.75em;
  text-align: center;
  padding: 8px;
}

.tag04 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #9592b8;
  height: 32px;
  width: auto;
  min-width: 80px;
  font-size: 0.75em;
  text-align: center;
  padding: 8px;
}

.tag05 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #9592b8;
  height: 32px;
  width: auto;
  min-width: 80px;
  font-size: 0.75em;
  text-align: center;
  padding: 8px;
}

.sectionTitle {
  margin: 0;
}

/* .frame {
  default: none;
} */