.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff9e8;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* BANNER */
.bannerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../public/backgroundTest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
}

.topBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 16px 16px 0 16px;
  width: 100%;
  gap: 16px;
}
.bottomBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;
  width: 100%;
}

/* LIKE ICON & RATE IT*/
.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #fff9e8;
  height: 40px;
  width: 40px;
  background-color: #9592b8;
  cursor: pointer;
}

.iconButton:hover {
  background-color: #3f3878;
}

.textButton {
  font-size: 1em;
  margin: 0;
}

.caption {
  font-size: 0.625em;
}

.captionGameName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconRating {
  margin-right: 8px;
}

.likeIcon {
  color: aliceblue;
}

/* BOTTOM CONTAINER */
.bottomContainer {
  background-color: #3f3878;
  height: 100%;
  width: 100vw;
  border-radius: 40px 40px 0 0;
  /* position: absolute; */
  /* bottom: 0; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  padding: 16px 0 30px 0;
}

.descriptionContainer {
  background-color: #644ace;
  margin-top: 24px;
  padding: 16px;
}

.descriptionContainer {
  background-color: #644ace;
  margin-top: 24px;
  padding: 16px;
}

.videoContainer {
  background-color: black;
  height: 200px;
  width: 300px;
  border-radius: 40px;
}

.trailerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8px;
}

.tag {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #cf55ed;
  height: 24px;
  width: 100px;
  font-size: 0.75em;
}

.sectionTitle {
  margin: 0;
}

.frame {
  default: none;
}
