@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto');
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3F3878;
  /* background: linear-gradient(to top right, #3F3878, #644ACE); */
  color: white;
}

h1 {
  font-size: 32px;
  margin: 16px 0;
}

h2 {
  font-size: 28px;
  margin: 16px 0;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 16px 0;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
}

svg {
  fill: inherit;
  color: inherit;
}
image {
  fill: inherit;
  color: inherit;
}

/* MODAL */

  /* (importée de antd) */

 .ant-modal-content { /* on vise le style natif du composant Modal, uniquement visible via l'inspecteur et on efface les paramètres gênants notre style */
  background-color: transparent !important; /* toujours prioritaire sur n'importe quel autre style  https://stackoverflow.com/questions/68469089/how-to-change-styles-in-modal-of-antd */
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important; /* On remplace le font natif d'antd */
  color: white;
}

  /* - Desktop */
.ant-modal {
  width: 50% !important; /* par défaut, cible l'affichage Desktop */
  max-width: 50% !important;
  margin: none !important;
}
  /* - Mobile */
@media (max-width: 768px) {
  .ant-modal {
    width: 90% !important; /* On vise désormais l'affichage mobile et on veut changer les proportions de la modal */
    max-width: 90% !important;
  }
}
