* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto');
}

body {
  padding: 0;
  margin: 0;
  font-family:'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3F3878;
}