/* PAGE */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 16px;
    color: #FFF9E8;
    /* z-index: 1; */
}

.logoTitle {
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/**MENU BURGER**/
.burgerContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #242424;
    margin-top: 60px;
    z-index: 2;
}

.topMenuBurger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.bottomMenuBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.linkBurgerMenu {
    text-align: center;
    width: 90%;
    text-decoration: none;
    color: #FFF9E8;
    font-size: 1.25em;
    padding: 32px 0;
    border-top: 1px solid #fff9e880;
    text-align: center;
    width: 80%;
}

.linkBurgerMenu:hover {
    text-decoration: none;
    color: #3F3878;
    font-weight: 700;
    background-color: #FFF9E8;
    width: 100%;
    text-align: center;
}

.navigation {
    width: 100%;
    height:auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 25px;
}

.burgerIcon {
    position: fixed;
    z-index: 3;
    display: flex;
    margin: 20px 0;
    padding: 0 25px;
    cursor: pointer;
    /* Permet de changer la couleur d'un icon svg */
    /* filter: invert(47%) sepia(89%) saturate(7473%) hue-rotate(1deg) brightness(102%) contrast(105%); */

}

.logout {
    text-align: center;
    width: 90%;
    text-decoration: none;
    color: #FFF9E8;
    font-size: 1.25em;
    padding: 32px 0;
    text-align: center;
    width: 80%;
    cursor: pointer;
}

.logout:hover {
    color: #EB5757;
}

 


