/* PAGE */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 16px;
    color: #FFF9E8;
    background: linear-gradient(to top right, #3F3878, #644ACE);
    /* z-index: 1; */
    background-color: #3F3878;
}

.logoTitle {
    margin-right: 20%;
    display: flex;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.logoTitle:hover {
    /* animation: gradient 10s ease infinite; */
    transition: filter 0.2s ease;
    filter: brightness(1.1);
    /* transition: transform 0.3s ease;
    transform: translateY(5px); */
    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
}


.icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 100%;
    object-position: center center;
    /* centre l'image verticalement/horizitontalement pour garantir un affichage proche de l'original*/
    object-fit: cover;
    /* empêche l'image d'être tronquée même visualée en cercle */
}

/**MENU BURGER**/
.burgerContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #3F3878;
    margin-top: 60px;
    z-index: 2;
}

.topMenuBurger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.bottomMenuBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .linkBurgerMenu {
    text-align: center;
    width: 90%;
    text-decoration: none;
    color: #FFF9E8;
    font-size: 1.25em;
    padding: 32px 0;
    border-top: 1px solid #fff9e880;
    text-align: center;
    width: 80%;
}

.linkBurgerMenu:hover {
    text-decoration: none;
    color: #3F3878;
    font-weight: 700;
    background-color: #FFF9E8;
    width: 100%;
    text-align: center;
} */

.navigation {
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 25px;
}

.burgerIcon {
    position: fixed;
    z-index: 3;
    display: flex;
    margin: 20px 0;
    padding: 0 25px;
    cursor: pointer;
    /* Permet de changer la couleur d'un icon svg */
    /* filter: invert(47%) sepia(89%) saturate(7473%) hue-rotate(1deg) brightness(102%) contrast(105%); */
}

.burgerIcon:hover {
    /* animation: gradient 10s ease infinite; */
    transition: filter 0.2s ease;
    filter: brightness(1.1);
    /* transition: transform 0.3s ease;
    transform: translateY(5px); */
    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
}

.logout {
    text-align: center;
    width: 90%;
    text-decoration: none;
    color: #FFF9E8;
    font-size: 1.25em;
    padding: 32px 0;
    text-align: center;
    width: 80%;
    cursor: pointer;
}

.logout:hover {
    color: #EB5757;
}

.profilcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

/* BUTTONS */
.seoncadryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    min-width: 160px;
    padding: 10px 24px 10px 24px;
    background-color: #3F3878;
    color: #F0EFFF;
    border-radius: 40px;
    border: 1px #F0EFFF solid;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 16px 0 16px 0;
    width: 350px;
}

.seoncadryButton:hover {
    background-color: hsl(247, 56%, 25%);
    color: #F0EFFF;
}




.avatar {
    border-radius: 100%;
    object-position: center center;
    /* centre l'image verticalement/horizitontalement pour garantir un affichage proche de l'original*/
    object-fit: cover;
    /* empêche l'image d'être tronquée même visualée en cercle */
}