.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF9E8;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contentCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(190, 19, 233);
  height: 160px;
  width: 110px;
  min-width: 80px;
  min-height: 120px;
  margin: 0 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.75);
}

.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.likeIcon {
  color: aliceblue;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 40px;
  border: 1px solid #FFF9E8;
  height: 40px;
  width: 40px;
  background-color: #9592B8;
  cursor: pointer;
  bottom: -20px;
}

.iconButton:hover {
  background-color: #3F3878;
}

.secondaryButton {
  min-width: 160px;
  color: #FFF9E8;
  font-size: 1em;
  height: 44px;
  width: 200px;
  padding: 8px;
  border-radius: 40px;
  border: 1px solid #FFF9E8;
  background-color: #9592B8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 40px 0 24px 0;
  font-weight: 700;
}

.secondaryButton:hover {
  background-color: #3F3878;
}

.title {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.sectionTitle {
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

/* SEARCH */
.input {
  padding: 10px 12px 10px 12px;
  border-radius: 40px;
  background-color: #F2F4FE;
  color: #3F3878;
  border: 1px #DFD8E7 solid;
  width: 400px;
  font-size: 1em;
  font-weight: 500;
  /* position: absolute;  */
  margin-right: 16px;
}

.input::placeholder {
  color: #9592B8;
}

.input:focus {
  background-color: #DFD8E7;
}


.searchContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.searchIcon {
  cursor: pointer;
  background-color: #3F3878;
}