.containerdark {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff9e8;
}

.containerlight {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #242424;
  background-color: #F0EFFF;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 24px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0 32px 0;
  text-align: center;
}

/*IF NO USER TOKEN*/
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #efffef;
  color: #3F3878;
  border-radius: 40px;
  border: 1px #F0EFFF solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0 32px 0;
  width: 250px;
}

.primaryButton:hover {
  background-color: hsl(245, 21%, 90%);
}

.seoncadryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #3F3878;
  color: #F0EFFF;
  border-radius: 40px;
  border: 1px #F0EFFF solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0 32px 0;
  width: 250px;
}

.seoncadryButton:hover {
  background-color: hsl(247, 56%, 25%);
  color: #F0EFFF;
}


.buttondark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #9592B8;
  color: #fff9e8;
  border-radius: 40px;
  border: 1px #f0efff solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 15px;
  width: 300px;
}

.buttondark:hover {
  background-color: #3f3878;
  color: #fff9e8;
}

.buttonlight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #9592B8;
  color: #fff9e8;
  border-radius: 40px;
  border: 1px #f0efff solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 15px;
  width: 300px;
}

.buttonlight:hover {
  background-color: #3F3878;
  color: #fff9e8;
}

/*IF USER TOKEN*/
.title {
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

.defaultAvatar {
  width: 20vw;
  height: 20vw;
  /* pour limiter la taille générale selon l'écran */
  max-width: 200px;
  /* pour limiter la taille brute */
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  /* empêche l'image d'être tronquée même visualée en cercle */
  object-position: center center;
  /* centre l'image verticalement/horizitontalement pour garantir un affichage proche de l'original*/
  cursor: pointer;
}

.userAvatar {
  width: 20vw;
  height: 20vw;
  /* pour limiter la taille générale selon l'écran */
  max-width: 200px;
  /* pour limiter la taille brute */
  max-height: 200px;
  border-radius: 50%;
  border: 5px solid #FFF9E8 !important;
  /* empêche l'image d'être tronquée même visualée en cercle */
  object-position: center center;
  /* centre l'image verticalement/horizitontalement pour garantir un affichage proche de l'original*/
}

.defaultInput {
  display: none;
}

.usernameTitle {
  margin-top: 5px;
}

/*USER INFO*/
.userInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
  margin-top: 5px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.input {
  padding: 10px 12px 10px 12px;
  border-radius: 40px;
  background-color: #F2F4FE;
  color: #3F3878;
  border: 1px #DFD8E7 solid;
  width: 200px;
}

.input::placeholder {
  color: #9592B8;
}

.editContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}

.iconContainer {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  margin: 0;
}

.error {
  color: #EB5757;
  font-size: 12px;
  margin-left: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.saveButton {
  cursor: pointer;
}

.editIcon {
  cursor: pointer;
}

/*LOGOUT BUTTON*/

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #F0EFFF;
  color: #3F3878;
  border-radius: 40px;
  border: 1px #F0EFFF solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 15px;
  margin-top: 30px;
  width: 300px;
}

.logout:hover {
  background-color: #3F3878;
  color: #FFF9E8;
}