.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: #644ace;
  border: none;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.emoji {
  margin: 10px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categorybutton {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 10px;
}

.submitbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
