.inputContainer {
  width: 90%; /* on définit la largeur de l'espace dédié à l'input, il devra suivre à 100% ses proportions */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetMarginTitle {
  margin: 0 !important; /* écrase le style global */
  align-self: flex-start;
  margin-left: 12px !important;
}

.resetMarginLength {
  margin: 0 !important; /* écrase le style global */
  align-self: flex-end;
  margin-right: 12px !important;
  margin-top: 8px !important;
}

.input {
  width: 100%;
  min-height: 150px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; /* On doit redéfinir la police de l'input c'est à dire du placeholder, le style global ne s'applique pas à la Modal / tout style est ajouté manuellement */
  padding: 12px;
  border: 1px #dfd8e7 solid;
  border-radius: 20px;
  background-color: #f2f4fe;
  color: #3f3878;
}

.inputnote {
  padding: 10px 12px 10px 12px;
  border-radius: 40px;
  background-color: #f2f4fe;
  color: #3f3878;
  border: 1px #dfd8e7 solid;
  width: 200px;
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  /* position: absolute;  */
  margin-right: 16px;
}

.input::placeholder {
  color: #9592b8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: #3f3878;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 0 0 1px #fff9e8;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  gap: 16px;
  margin: 16px;
  margin-bottom: 32px;
}

.emoji {
  margin: 10px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categorybutton {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 10px;
}

.submitbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BUTTONS */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #fff9e8;
  color: #3f3878;
  border-radius: 40px;
  border: 1px solid #fff9e8;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0 16px 0;/* changed the bottom from 32 to 16 */
  width: 250px;
}

.button:hover {
  background-color: #3f3878;
  color: #fff9e8;
}

.button:disabled {
  /* Impossible de cliquer sur le bouton */
  background-color: #828282;
  color: #E1E3EC;
  cursor:inherit; /* par défaut, plus de curseur hérité du bouton */
}

.secondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 160px;
  padding: 10px 24px 10px 24px;
  background-color: #9592B8;
  color: #f0efff;
  border-radius: 40px;
  border: 1px #f0efff solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 16px 0 32px 0;
  width: 250px;
}

.secondaryButton:hover {
  background-color: #3f3878;
  color: #f0efff;
}

.bottomContainer {
  gap: 8px;
  margin-bottom: 10px;
}

.logoTitle {
  margin-right: 20%;
  margin-left: 20;
  display: flex;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
}

.hook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .yourRating {
    font-size: 12px !important;
  }
  .bottomContainer {
    gap: 10px;
    margin-bottom: 10px;
  }
}
