.containerdark {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF9E8;
  /* background: linear-gradient(to bottom, #3F3878, #242424); */
}

.containerlight {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3F3878;
  background-color: #F0EFFF;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 30px;
}

/* CARDS */

.contentCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.rateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  align-items: center;
}


.card {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #644ACE;
  height: 400px;
  width: 90vw;
  min-height: 120px;
  min-width: 80px;
  max-height: 400px;
  max-width: 390px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-bottom: 0;
}

.gameNameCard {
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
}

.ratingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  padding: 16px 24px;
  gap: 8px;
  font-size: 1em;
  background-color: #644ace90;
  border-radius: 40px;
  /* border: 1px solid #fff9e85c; */
  color: #FFF9E8;
  margin-left: 16px;
}

.info {
  margin-bottom: 5px;
  font-weight: 300;
}
.infoWithIcon {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 8px;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 40px;
  border: 1px solid #FFF9E8;
  height: 40px;
  width: 40px;
  background-color: #9592B8;
  cursor: pointer;
}

.iconButton:hover {
  background-color: #3F3878;
}

.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
