.containerdark {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF9E8;
  /* background: linear-gradient(to bottom, #3F3878, #242424); */
}

.containerlight {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #242424;
  background-color: #F0EFFF;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 30px;
}

/* CARDS */

.contentCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.rateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 40px;
}

.rateContainer:hover {
  box-shadow: 0 0 50px #cf55edab;

  /* animation: gradient 10s ease infinite; */
  transition: filter 0.2s ease;
  filter: brightness(1.1);

  /* transition: transform 0.3s ease;
  transform: translateY(5px); */

  transition: transform 0.5s ease-in-out;
  transform: scale(1.03);
}

.card {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #644ACE;
  height: 400px;
  width: 90vw;
  min-height: 120px;
  min-width: 80px;
  max-height: 400px;
  max-width: 390px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-bottom: 0;
}

.gameNameCard {
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
}

.ratingInfo {
  background-color: #2424242d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 0;
  padding: 20px;
}

.info {
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 40px;
  border: 1px solid #FFF9E8;
  height: 40px;
  width: 40px;
  background-color: #9592B8;
  cursor: pointer;
}

.iconButton:hover {
  background-color: #3F3878;
}

.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.likeIcon {
  color: aliceblue;
}