.maindark {
    gap: 16px;
    line-height: 1.15;
    font-family: Roboto;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    font-size: 16px;
}

.mainlight {
    gap: 16px;
    line-height: 1.15;
    font-family: Roboto;
    width:100%;
    height: calc(100vh - 32px);
    font-size: 16px;
    color: #242424;
    background-color: #F0EFFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.icondark {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.iconlight{
    filter: invert(53%) sepia(80%) saturate(1880%) hue-rotate(324deg) brightness(94%) contrast(95%);
}


.textContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
    padding-left: 10px;
}

.dropdownContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
    padding-right: 10px;
}

.parameter{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttondark {
    padding: 10px 24px 10px 24px;
    min-width: 160px;
    max-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F0EFFF;
     color: #3F3878;
    border-radius: 40px;
    border: 1px #F0EFFF solid;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .buttondark:hover {
    background-color: #3F3878;
    color: #FFF9E8;
  }

  .buttonlight {
    padding: 10px 24px 10px 24px;
    min-width: 160px;
    max-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9592B8;
    color: #fff9e8;
    border-radius: 40px;
    border: 1px #F0EFFF solid;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .buttonlight:hover{
    background-color: #3F3878;
  }
  
