.maindark {
    gap: 16px;
    line-height: 1.15;
    font-family: Roboto;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    font-size: 16px;
}

.mainlight {
    gap: 16px;
    line-height: 1.15;
    font-family: Roboto;
    width:100%;
    height: calc(100vh - 32px);
    font-size: 16px;
    color: #242424;
    background-color: #F0EFFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.textContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
    padding-left: 10px;
}

.dropdownContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
    padding-right: 10px;
}



.icondark {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.iconlight{
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: red;
}

.parameter{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    padding: 10px 24px 10px 24px;
    min-width: 160px;
    max-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F0EFFF;
     color: #3F3878;
    border-radius: 40px;
    border: 1px #F0EFFF solid;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3F3878;
    color: #FFF9E8;
  }

.iconlight{
    filter: invert(53%) sepia(80%) saturate(1880%) hue-rotate(324deg) brightness(94%) contrast(95%);
}
