.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF9E8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 16px;
  background-color: #242424;
}

.logoTitle {
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.title {
  line-height: 36px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.signin {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 15px;
  padding: 10px 24px 10px 24px;
  min-width: 160px;
  max-height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F0EFFF;
  color: #3F3878;
  border-radius: 40px;
  border: 1px #F0EFFF solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #3F3878;
  color: #FFF9E8;
}