.containerdark {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF9E8;
}

.containerlight {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3F3878;
    background-color: #F0EFFF;
}

.middleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    padding: 0 24px;
}

/* CARDS */
.contentCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40px;
    background-color: #644ACE;
    height: 400px;
    width: 90vw;
    min-height: 120px;
    min-width: 80px;
    max-height: 400px;
    max-width: 390px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin: 24px 16px;
}

.card:hover {
    box-shadow: 0 0 50px #cf55edab;

    /* animation: gradient 10s ease infinite; */
    transition: filter 0.2s ease;
    filter: brightness(1.1);

    /* transition: transform 0.3s ease;
    transform: translateY(5px); */

    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
}

.gameNameCard {
    font-size: 1.25em;
    line-height: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.likeIcon {
    color: aliceblue;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 40px;
    border: 1px solid #FFF9E8;
    height: 40px;
    width: 40px;
    background-color: #9592B8;
    cursor: pointer;
    bottom: -20px;
}

.iconButton:hover {
    background-color: #3F3878;
}

.secondaryButton {
    min-width: 160px;
    color: #FFF9E8;
    font-size: 1em;
    height: 44px;
    width: 200px;
    padding: 8px;
    border-radius: 40px;
    border: 1px solid #FFF9E8;
    background-color: #9592B8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 40px 0 24px 0;
    font-weight: 700;
}

.secondaryButton:hover {
    background-color: #3F3878;
}

.title {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.sectionTitle {
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

/* SEARCH */
.input {
    padding: 10px 12px 10px 12px;
    border-radius: 40px;
    background-color: #F2F4FE;
    color: #3F3878;
    border: 1px #DFD8E7 solid;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    /* position: absolute;  */
  }
  
  .input::placeholder {
    color: #9592B8;
  }
  
  .input:focus {
    background-color: #DFD8E7;
  }
  
  .searchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    top: 120px;
    padding: 0 40px;
    max-width: 600px;
  }
  
  .buttonSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    background-color: #3F3878;
    border-radius: 40px;
    height: 44px;
    width: 44px;
    border: 1px solid #FFF9E8;
  }
  .buttonSearch:hover {
    background-color: #CF55ED;
  }
  
  .searchIcondark {
    cursor: pointer;

  }
  
  .searchIconlight {

    cursor: pointer;
  }